* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}

:root {
  --background--color: #70a9a1;
  --text--color: #fff9fb;
}

body {
  background-color: var(--background--color);
  color: var(--text--color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  font-family: "Prompt", sans-serif;
}

.start-view {
  display: none;
  flex-direction: column;
}

.title {
  font-family: "Croissant One", cursive;
  font-size: 18rem;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.start-view__buttons {
  display: flex;
  justify-content: center;
  gap: 5.2rem;
  width: 100%;
}

.start-view__buttons--set-btn,
.start-view__buttons--select {
  font-size: 3.2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.start-view__buttons--set-btn {
  border: 2px solid var(--background--color);
  background-color: var(--text--color);
  color: var(--background--color);
  transition: background-color 0.35s, color 0.35s, border 0.35s;
}

.start-view__buttons--set-btn:hover {
  border: 2px solid var(--text--color);
  background-color: var(--background--color);
  color: var(--text--color);
}

.start-view__buttons--select {
  border: 2px solid var(--text--color);
  background-color: var(--background--color);
  color: var(--text--color);
  transition: background-color 0.35s, color 0.35s, border 0.35s;
}

.start-view__buttons--select:hover {
  border: 2px solid var(--background--color);
  background-color: var(--text--color);
  color: var(--background--color);
}

.setting-habit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  margin-top: 12rem;
}

.setting-habit__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.setting-habit__div label {
  margin-bottom: 2rem;
}

.setting-habit__div--label-name {
  font-size: 4rem;
}

.setting-habit__div--input {
  width: 24rem;
  border: 2px solid var(--text--color);
  background-color: var(--background--color);
  color: var(--text--color);
  height: 4rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 2.6rem;
}

.setting-habit__add-btn {
  font-size: 2.6rem;
  color: var(--background--color);
  padding: 0.8rem;
  border: 2px solid var(--text--color);
  border-radius: 1rem;
  width: 24rem;
  margin-top: 4rem;
  transition: background-color 0.35s, color 0.35s, border 0.35s;
}

.setting-habit__add-btn:hover {
  color: var(--text--color);
  background-color: var(--background--color);
}

.week {
  display: none;
}
