* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}

:root {
  --primary--color: #ebf2fa;
  --secondary--color: #64f58d;
  --add--color: #427aa1;
  --text--color: #064789;
}

body {
  background-color: var(--primary--color);
  color: var(--text--color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  font-family: "Prompt", sans-serif;
}

main {
  width: 90%;
}

.start-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Croissant One", cursive;
  font-size: 18rem;
  text-align: center;
  margin-top: 18rem;
  margin-bottom: 16rem;
}

.start-view__buttons {
  display: flex;
  justify-content: center;
  gap: 5.2rem;
  width: 100%;
  position: relative;
}

.start-view__buttons--set-btn,
.start-view__buttons--select {
  font-size: 3.2rem;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  height: 8.2rem;
  width: 28rem;
}

.start-view__buttons--set-btn {
  border: 2px solid var(--primary--color);
  background-color: var(--text--color);
  color: var(--primary--color);
  transition: background-color 0.35s, color 0.35s, border 0.35s;
}

.start-view__buttons--set-btn:hover {
  border: 2px solid var(--text--color);
  background-color: var(--primary--color);
  color: var(--text--color);
}

.start-view__buttons--select {
  border: 2px solid var(--text--color);
  background-color: var(--primary--color);
  color: var(--text--color);
  transition: background-color 0.35s, color 0.35s, border 0.35s;
}

.start-view__buttons--select:hover {
  border: 2px solid var(--primary--color);
  background-color: var(--text--color);
  color: var(--primary--color);
}

.start-view__habitsToChoose {
  width: 20rem;
  min-height: 10rem;
  border: 2px solid var(--text--color);
  background-color: var(--text--color);
  color: var(--primary--color);
  border-radius: 1rem;
  margin-top: 2.4rem;
}

.setting-habit {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  margin-top: 12rem;
}

.back-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2.4rem;
  color: var(--text--color);
  border: none;
  cursor: pointer;
  transition: color 0.35s;
}

.back-btn:hover {
  color: var(--add--color);
}

.setting-habit__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.setting-habit__div label {
  margin-bottom: 1rem;
}

.setting-habit__div--label-name {
  font-size: 4rem;
}

.setting-habit__div--input {
  width: 24rem;
  border: 2px solid var(--text--color);
  background-color: var(--primary--color);
  color: var(--text--color);
  height: 4rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 2.6rem;
}

.setting-habit__add-btn {
  font-size: 2.6rem;
  color: var(--primary--color);
  background-color: var(--text--color);
  padding: 0.8rem;
  border: 2px solid var(--text--color);
  border-radius: 1rem;
  width: 24rem;
  margin-top: 4rem;
  transition: background-color 0.35s, color 0.35s;
}

.setting-habit__add-btn:hover {
  color: var(--text--color);
  background-color: var(--primary--color);
}

.setting-habit__add-btn:active {
  background-color: var(--add--color);
}

.week {
  display: none;
  flex-direction: column;
  align-items: center;
}

.week__header--title {
  font-size: 5.2rem;
  font-weight: 400;
  border-bottom: 2px solid var(--text--color);
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

.week__header {
  width: 100%;
}

.week__header--details {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  display: flex;
  gap: 6.6rem;
  color: var(--add--color);
}

.week__container {
  margin-top: 10.6rem;
  border: 1px solid var(--add--color);
  font-size: 2rem;
  width: 36rem;
}

.controllers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--add--color);
  padding: 2rem 1rem 0.6rem 1rem;
  /* margin-bottom: 1.6rem; */
}

.controllers__first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controllers__month {
  font-size: 3.8rem;
  color: var(--secondary--color);
}

.controllers__status {
  text-align: end;
  color: var(--secondary--color);
}

.controllers__prev-btn,
.controllers__next-btn {
  width: 9rem;
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  color: #fff9fb;
  cursor: pointer;
  transition: color 0.35s;
}

.controllers__next-btn {
  text-align: end;
}
.controllers__next-btn:hover,
.controllers__prev-btn:hover {
  color: #fff9fb94;
}
.controllers__next-btn:active,
.controllers__prev-btn:active {
  color: #fff9fbbb;
}

.days {
  font-size: 2.4rem;
  height: 56rem;
  overflow-y: scroll;
}

.days__info {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  background-color: var(--primary--color);
}

.days__day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  border-bottom: 1px solid #acd0ea;
  list-style: none;
}

.days__info--element {
  display: grid;
  place-items: center;
  min-width: 5.6rem;
}

.days__day--number {
  display: grid;
  place-items: center;
  background-color: var(--secondary--color);
  width: 5.6rem;
  height: 100%;
}

.days__day--status {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  border: 1px solid var(--add--color);
  background-color: white;
  margin-right: 0.3rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.status-stop {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  background-color: red;
  border: none;
  margin-right: 0.3rem;
  cursor: pointer;
}

.status-active {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  background-color: yellowgreen;
  border: none;
  margin-right: 0.3rem;
  cursor: pointer;
}
